[submodule "vim/bundle/lightline.vim"]
	path = vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim/bundle/promptline.vim"]
	path = vim/bundle/promptline.vim
	url = https://github.com/edkolev/promptline.vim.git
[submodule "vim/bundle/tmuxline.vim"]
	path = vim/bundle/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "vim/bundle/vim-gutentags"]
	path = vim/bundle/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
